<form class="login" action="" method="post">
  <input id='txtEmail' type="email" name="email" value="" placeholder="email@email.com">
  <br>
  <input id='txtPassword' type="password" name="" value="" placeholder="password">
  <br>
  <input id='btnLogin' type="submit" name="" value="login">
</form>
