<form class="signup" action="" method="post">
  <input id='txtEmail' type="email" placeholder="email@email.com">
  <br>
  <input id='txtPassword' type="password" name="" value="" placeholder="password">
  <br>
  <input id='btnSignup' type="submit" name="" value="submit">
</form>
